include base

block content
    .row.m-3
        .col.border
            p.text-center This is the first column in about page
        .col.border 
            p.text-center This is second column in about page